.colorfooter{
    font-family: 'Poppins', sans-serif; background: #0f0c29;
    background: linear-gradient(to right, #0896dd, #00476b, #0896dd);
  }
ul,li,a, p{
  font-family: 'Asap', sans-serif;
}
h1{
  color: white;
}
a{
  color: white;
}