@media only screen and (max-width:1980px){
    header{
        background-position: 20% 53%;
    }
}
@media only screen and (max-width:1880px){
    header{
        background-position: 20% 53%;
    }
}
@media only screen and (max-width:1454px){
    header{
        background-position: 20% 60%;
    }
}
@media only screen and (max-width:898px){
    header{
        background-position: 40% 33%;
    }
}
@media only screen and (max-width:600px){
    header{
        background-position: 50% 33%;
    }
}
