.navbar-light .navbar-nav .nav-link{
    color: rgb(168, 155, 31);
    font-size: 22px;
}
.navbar-light .navbar-brand{
    color: rgb(212, 204, 128);
    font-size: 30px;
}
.background{
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url(../assets/img/arg.jpg);
}