table {
    border-collapse: collapse;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
tr {
    transition: all .2s ease-in;
    cursor: pointer;
}
th, td {
    font-family: 'Asap', sans-serif;
    padding: 5%;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.nice{
    background-color: #10bcdc;
    color: rgb(255, 255, 255);
}

.tittle{
    font-family: 'Asap', sans-serif;
    font-size: 160%;
    text-align: center;
    background-color: #10bcdc;
    color: rgb(255, 255, 255);
    padding: 10px 0px;
}

.nice1:hover {
    background-color: #ffffff8c;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

main{
    background-color: #00476b;
    font-family: 'Asap', sans-serif;
    border-bottom: 5px solid rgb(255, 255, 255);
}
.titulos{
    background-color: #00476b;
 font-size: 200%;
 color: rgb(255, 255, 255);
 font-family: 'Asap', sans-serif;
}